@import "tailwindcss";

@theme {
  --color-primary: oklch(0.7 0.2 200);
  --font-family-sans: "Inter", system-ui, sans-serif;
}

.btn-primary {
  @apply px-2 py-2 bg-blue-600 text-white rounded hover:bg-blue-700;
}



.main {
  @apply flex flex-col h-screen;

  header {
    @apply bg-[#f0f0f0] text-[#131212] h-10 flex items-center justify-between px-2 select-none rounded-lg shadow-lg;

  }

  main {
    @apply bg-white/90 rounded-r-lg shadow-md border border-gray-200 h-full w-full p-4;
  }

  aside {
    @apply bg-white/90 w-64 p-4 rounded-r-lg shadow-md border border-gray-200;


  }

  .layout-col {
    @apply flex flex-col h-full;

    .dock-full {
      @apply flex-1
    }
  }
}

.debug {
  border: solid 4px red;
}