@import "tailwindcss";

.debug {
  border: solid 4px red !important;
}

.widget-container {
  @apply bg-white border-b border-gray-200 px-2 shadow-sm;
}

.modal-container {
  @apply bg-white border border-gray-200 px-0 m-0 shadow-gray-700 shadow-2xl;
}

.toolbar-container {
  @apply px-0 p-1 shadow-sm flex flex-row;

  .btn {
    @apply m-0.5;
  }
}

/* Base button nhỏ hơn */
.btn {
  @apply px-2 py-1 text-sm bg-white text-gray-700 border border-gray-300 rounded shadow-sm hover:bg-gray-50 hover:shadow transition;
}



/* New (pastel blue) */
.btn-new {
  @apply border-blue-300 text-blue-600 hover:bg-blue-50;
}

/* Update (pastel green) */
.btn-update {
  @apply border-emerald-300 text-emerald-600 hover:bg-emerald-50;
}

/* Delete (pastel red) */
.btn-delete {
  @apply border-red-300 text-red-600 hover:bg-red-50;
}

/* Close (neutral) */
.btn-close {
  @apply border-gray-400 text-gray-600 hover:bg-gray-100;
}


input {
  background-color: unset;

}

.p-datatable.p-component.p-datatable-scrollable {
  display: table;
  @apply h-full w-full;


  .p-datatable-table-container {
    @apply h-full w-full;


    thead.p-datatable-thead {
      th.p-datatable-header-cell {
        @apply bg-white border-b border-gray-200 px-2 shadow-sm p-2;

      }
    }

    div.p-datatable-column-header-content {


      span.p-datatable-column-title {
        @apply text-gray-900 w-0.5;
      }

      span[data-pc-section] {
        svg {
          @apply text-gray-700;
        }
      }
    }
  }

  thead.p-datatable-thead {
    div.p-datatable-column-header-content {
      display: flex;
      flex-direction: row;

      span.p-datatable-column-title {
        width: 100%;
      }
    }
  }

  tbody.p-datatable-tbody {


    tr.p-row-even {
      td {
        @apply bg-white border-b border-gray-200 px-2 p-2 text-gray-600;
        ;
      }
    }

    tr {
      td {
        @apply bg-white border-b border-gray-200 px-2 p-2 text-gray-600;
      }

      td[role="cell"] {
        @apply truncate;
      }
    }
  }
}