@import "tailwindcss";

.form-data {
    input {
        @apply w-full px-2 py-1 text-gray-900 bg-white rounded-sm border border-gray-300;
    }

    div.vs__dropdown-toggle {
        /* @apply w-full px-2 py-1 text-gray-900 bg-white rounded-sm border border-gray-300; */
        @apply border-none m-0 p-0;

    }

    div.v-select.vs--single.vs--searchable {
        @apply w-full px-2 py-1 text-gray-900 bg-white rounded-sm border border-gray-300
    }



    label {
        @apply block text-sm font-medium text-gray-700 mb-1 w-full truncate;

    }
}

div.dp__input_wrap {
    @apply flex flex-row w-full;

    div {
        /* @apply flex items-center h-full;
        max-width: 32px; */
    }

    svg {
        position: relative;
        /* margin: 0 !important;
        padding: 0 !important;
        width: 24px !important;
        height: 24px !important;
        display: unset !important; */
    }
}


input.vs__search {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}