@import "tailwindcss";

.editor-form {
    @apply p-4;

    div.body {
        @apply grid gap-2;

        div {
            @apply flex items-center
        }

        input {
            @apply w-full px-2 py-1 text-gray-900 bg-white rounded-sm border border-gray-300;
        }

        textarea {
            @apply w-full px-2 py-1 text-gray-900 bg-white rounded-sm border border-gray-300;
        }

        div.label-top {
            @apply flex items-start
        }

        div.vs__dropdown-toggle {
            /* @apply w-full px-2 py-1 text-gray-900 bg-white rounded-sm border border-gray-300; */
            @apply border-none m-0 p-0;

        }

        div.v-select.vs--single.vs--searchable {
            @apply w-full px-2 py-1 text-gray-900 bg-white rounded-sm border border-gray-300
        }



        label {
            @apply block text-sm font-medium text-gray-700 mb-1 w-full truncate;

        }
    }

    div.footer {
        @apply flex justify-end items-center w-full py-2 space-x-1;

        button {
            @apply px-2 py-1 text-sm bg-white text-gray-700 border border-gray-300 rounded shadow-sm hover:bg-gray-50 hover:shadow transition;
        }

    }
}