@import "tailwindcss";

div.v-select.vs--single.vs--searchable {
    max-height: 34px;
    min-height: 34px;
    margin: 0 !important;
    padding: 0 !important;
    @apply w-full px-0 py-0 text-gray-900 bg-white rounded-sm border border-gray-300;

    div.vs__dropdown-toggle {
        max-height: 26px;
        overflow: hidden;
    }
}