@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.debug {
    border: solid 4px red;
}

.main-header {
    @apply bg-gray-100 p-1;
}

.main-sidebar {
    @apply w-56 bg-gray-50 border-r border-gray-200 p-4 overflow-y-auto hidden md:block
}

.main-content {
    @apply flex-1 p-6 overflow-y-auto
}

header.main-header-menu {
    @apply flex items-center justify-between p-0 px-0 bg-gray-200 text-black shadow;

    button {
        /* can i use this? header the button  */
        @apply p-2 rounded-md bg-gray-200 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none;

    }
}